<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
<!-- 2019-10-03
"Transfer the `Magento\Catalog\Controller\Adminhtml\Product\Gallery\Upload::execute()` method modification to a plugin":
https://github.com/shiftsst/core/issues/14 -->
	<type name='Magento\Catalog\Controller\Adminhtml\Product\Gallery\Upload'>
		<plugin
			name='ShiftSST\Core\Plugin\Catalog\Controller\Adminhtml\Product\Gallery\Upload'
			type='ShiftSST\Core\Plugin\Catalog\Controller\Adminhtml\Product\Gallery\Upload'
		/>
	</type>
<!-- 2019-10-03
"Transfer the `Magento\CatalogImportExport\Model\Import\Uploader::init()` method modification to a plugin":
https://github.com/shiftsst/core/issues/16 -->
	<type name='Magento\CatalogImportExport\Model\Import\Uploader'>
		<plugin
			name='ShiftSST\Core\Plugin\CatalogImportExport\Model\Import\Uploader'
			type='ShiftSST\Core\Plugin\CatalogImportExport\Model\Import\Uploader'
		/>
	</type>
<!-- 2019-10-03
"Transfer the `Magento\Framework\File\Uploader::checkMimeType()` method modification to a plugin":
https://github.com/shiftsst/core/issues/12 -->
	<type name='Magento\Framework\File\Uploader'>
		<plugin
			name='ShiftSST\Core\Plugin\Framework\File\Uploader'
			type='ShiftSST\Core\Plugin\Framework\File\Uploader'
		/>
	</type>
<!-- 2019-10-03
"Transfer the `Magento\Framework\Image\Adapter\AbstractAdapter::getSupportedFormats()`
method modification to a plugin": https://github.com/shiftsst/core/issues/13 -->
	<type name='Magento\Framework\Image\Adapter\AbstractAdapter'>
		<plugin
			name='ShiftSST\Core\Plugin\Framework\Image\Adapter\AbstractAdapter'
			type='ShiftSST\Core\Plugin\Framework\Image\Adapter\AbstractAdapter'
		/>
	</type>
<!-- 2019-10-02 "How to remove the «PayPal CREDIT» button in Magento ≥ 2.3.1?" https://mage2.pro/t/6030 -->
	<type name='Magento\Paypal\Model\Config'>
		<plugin name='ShiftSST\Core\Plugin\Paypal\Model\Config' type='ShiftSST\Core\Plugin\Paypal\Model\Config'/>
	</type>
<!-- 2019-10-03
"Transfer the `vendor/magento/module-catalog/etc/di.xml` file modification to a plugin":
https://github.com/shiftsst/core/issues/15 -->
	<virtualType name='Magento\Catalog\CategoryImageUpload'>
		<arguments>
			<argument name='allowedExtensions' xsi:type='array'>
				<item name='pdf' xsi:type='string'>pdf</item>
			</argument>
			<argument name='allowedMimeTypes' xsi:type='array'>
				<item name='pdf' xsi:type='string'>pdf</item>
			</argument>
		</arguments>
	</virtualType>
</config>